@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  font-family: "Jost", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
